

.wrapper {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-auto-rows: 100px;
    grid-auto-rows: 100px;
    color: #444;

}

.box {
    background-color: pink;
    color: purple;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

}

.boxA {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}

.boxB {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.boxC {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.boxD {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.boxE {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}


.boxF {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.boxG {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.boxH {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.boxI {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}




.pizza {
    background-image:url("../images/pizzaone.jpg");

}

.hamBurgers {
    background-image: url("../images/hamburgersone.jpg");
}

.pasta {
    background-image: url("../images/pasta.jpg");
}

.chickenSalad {
    background-image: url("../images/chicken salad.jpg");
}

.fishSalad {
    background-image: url("../images/Fish Salad.jpg");
}

.pancake {
    background-image: url("../images/pancake.jpg");
}

.friedChicken {
    background-image: url("../images/fried chicken.jpg");
}

.beefSteak {
    background-image: url("../images/beef streak.jpg");
}

.frenchFries {
    background: url("../images/french fries.jpg");
}

.noodles {
    background: url("../images/Noodles.jpg");
}

.hotDogs {
    background: url("../images/Hot Dogs.jpg");
}

.sandwich {
    background: url("../images/sandwich.jpg");
}

.mashPotatoes {
    background: url("../images/Mash Mash potatoes.jpg");
}

.garlicBread {
    background: url("../images/garlic bread.jpg");
}

.applePie {
    background: url("../images/Apple Pie.jpg");
}

body {
    background: url("../images/health count.jpg");
}

