*
{
    margin: 0px;
    padding: 0px;
}

.dragzone, .dropzone
{
    height: 400px;
    width: 40%;
    border:2px, solid; 
    background-color: black;
    float: left;
    margin-top: 150px;
    margin-left: 7%;
}